body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7eb5ad;
    color: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.1);
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 80px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

/* nav ul li a:hover {
    text-decoration: underline;
} */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.profile p,
input,
select {
    margin-right: 40px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

#profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.update {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: 10px auto;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"],
button.cta-button {
    background-color: #232726;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover,
button.cta-button:hover {
    background-color: #7eb5ad;
}

a,
.form-group a {
    color: #333;
    text-decoration: none;
}

a:hover,
.form-group a:hover {
    text-decoration: underline;
}

#hero {
    background-image: url('img/albanian-1.png');
    color: #333;
    text-align: center;
    padding: 100px 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
#hero button a{
    color: white;
    text-decoration: none;
}

#features {
    align-items: center;
    text-align: center;
    padding: 50px 0;
}

#features ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#features li {
    text-align: center;
    flex: 1;
    margin: 0 15px;
}

#contact {
    background-color: #f0f0f0;
    /* padding: 50px 0; */
    text-align: center;
}

#contact-index {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

#contact form {
    max-width: 600px;
    margin: 0 auto;
}

#contact label {
    display: block;
    margin-bottom: 10px;
}

#contact button {
    background-color: #7eb5ad;
    color: #fff;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

#contact button:hover {
    background-color: #7eb5ad;
}

#social-links a{
    margin-right: 30px;
}

#about-us {
    color: #333;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    /* padding: 50px 0; */
}

#features,
#mission-vision,
#team,
#values,
#contact-form,
#contact-index,
#contact-info div{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

#team .team-member {
    text-align: center;
    margin-bottom: 20px;
}

#team ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#team li {
    text-align: center;
    flex: 1;
    margin: 0 15px;
}

#values ul {
    list-style-type: none;
    padding: 0;
}

#values li {
    font-weight: bold;
    margin-bottom: 10px;
}

footer {
    background-color: #7eb5ad;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

button {
    background-color: #2e3130;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: auto;
    font-size: 16px;
}

button:hover {
    background-color: #7eb5ad;
}

/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 10px;
    text-decoration: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown1 {
    text-align: center;
}

/* Style for the table */
table {
    width: 80%;
    margin: 20px auto; /* Center the table */
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
.action-form {
    display: inline-block; /* Ensure forms appear next to each other */
    margin: 0; /* Remove default margin */
}
input[type="submit"]
.action-button {
    padding: 8px 12px; /* Adjust padding to your liking */
    font-size: 14px; /* Adjust font size */
    background-color: #3498db; /* Set background color */
    color: #fff; /* Set text color */
    border: none; /* Remove border */
    cursor: pointer; /* Add pointer cursor on hover */
    border-radius: 4px; /* Optional: Add border-radius for rounded corners */
}
input[type="submit"]
.action-button:hover {
    background-color: #2980b9; /* Change background color on hover */
}

/* Make the form invisible */
.action-form {
    border: none; /* Remove form border */
    padding: 0; /* Remove form padding */
    background: none; /* Make form background transparent */
}