<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>About Us</title>
</head>
<body style="background-image: url('background.jpg');">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Register</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="about-us">
            <div id="hero">
                <h1>Welcome to Our Company</h1>
                <p>We strive for excellence in everything we do.</p>
            </div>

            <div id="mission-vision">
                <h2>Our Mission & Vision</h2>
                <p>At our company, we are committed to providing high-quality products/services that meet the needs of our customers. Our mission is to...</p>
                <p>Our vision is to...</p>
            </div>

            <div id="team">
                <h2>Our Team</h2>
                <ul>
                <li class="team-member">
                    <h3>Rinesa Orllani</h3>
                    <p>CEO & Founder</p>
                </li>
                <li class="team-member">
                    <h3>Laurent Kadrijaj</h3>
                    <p>CEO & Founder</p>
                </li>
            </ul>
            </div>

            <div id="values">
                <h2>Our Core Values</h2>
                <ul>
                    <li>Integrity</li>
                    <li>Innovation</li>
                    <li>Customer-Centric</li>
                    <li>Collaboration</li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2025</p>
    </footer>
</body>
</html>