<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Reth Nesh</title>
</head>
<body style="background-image: url('background.jpg');">
    {% include 'header.html' %}
    <main>
        <section id="about-us">
            <div id="hero">
                <h1>Mirësevini në AT2T</h1>
                <p>Ne përpiqemi të shkëlqejmë në çdo gjë që bëjmë.</p>
            </div>

            <div id="mission-vision">
                <h2>Misioni & Vizioni Ynë</h2>
                <p>Te projekti ynë i transkriptimit të fjalës në tekst në shqip, jemi të përkushtuar në ofrimin e një shërbimi cilësor dhe efikas. Misioni ynë është t'i mundësojmë përdoruesve që me anë të teknologjisë tonë t'i bëjnë fjalët e tyre ato pjesë të një teksti të kuptueshëm dhe të përdorshëm.</p>
                <p>Vizioni ynë është të jemi udhëheqës në fushën e transkriptimit të fjalëve në shqip. Do të krijojmë një mjedis ku çdo fjalë e folur ka vlerë dhe mundësohet për shfrytëzim në mënyrë të lehtë dhe të shpejtë. Synojmë të bëhemi një partner i besueshëm për ata që duan të përdorin teknologjinë tonë për transkriptimin e fjalëve në gjuhën shqipe.</p>
            </div>

            <div id="team">
                <h2>Ekipi Ynë</h2>
                <ul>
                <li class="team-member">
                    <h3>Diona Orllani</h3>
                    <p>CEO & Themelues</p>
                </li>
                <li class="team-member">
                    <h3>Eda Azizi</h3>
                    <p>CEO & Themelues</p>
                </li>
                <li class="team-member">
                    <h3>Kaltrinë Dvorani</h3>
                    <p>CEO & Themelues</p>
                </li>
            </ul>
            </div>

            <div id="values">
                <h2>Vlerat Tona Themelore</h2>
                <ul>
                    <p>Integriteti</p>
                    <p>Inovacioni</p>
                    <p>Orientimi te Klienti</p>
                    <p>Bashkëpunimi</p>
                </ul>
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
</body>
</html>