<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Albanian Speech to Text</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div id="hero">
            <h1>Albanian Speech to Text</h1>
            <h3>Convert Albanian speech to text with ease</h3>
                {% if not session.user_email %}
                    <button><a href="/login">Get Started</a></button>
                {% else %}
                    <button><a href="/transcription">Get Started</a></button>
                {% endif %}
        </div>
        <section id="features">
            <h1>Why Choose Albanian Speech to Text?</h1>
            <ul>
                <li>
                    <h3>Accurate Transcription</h3>
                    <p>Our advanced algorithms ensure accurate transcription of Albanian speech to text.</p>
                </li>
                <li>
                    <h3>Easy to Use</h3>
                    <p>Our user-friendly interface makes it easy to convert speech to text in just a few clicks.</p>
                </li>
                <li>
                    <h3>Secure and Private</h3>
                    <p>Your data is safe with us. We prioritize your privacy and ensure that your speech data is securely stored and processed.</p>
                </li>
            </ul>
        </section>
        <section id="contact-index">
            <h2>Get in Touch</h2>
            <form action="/submit_contact" method="post">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
                <button type="submit" class="cta-button">Send Message</button>
            </form>
        </section>
    </main>
    {% include 'footer.html' %}
    <script>
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.style.display === 'block') {
                        openDropdown.style.display = 'none';
                    }
                }
            }
        }
    </script>
</body>
</html>