<!DOCTYPE html>
<html lang="sq">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesazhet e Feedback-ut</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="dropdown1">
        <h1 styles="color: brown; text-align: center">Mesazhet e mija</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Mesazhi Im</th>
                    <th>Koha</th>
                    <th>Përditëso Mesazhin</th>
                    <th>Fshij Mesazhin</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td><a href="{{ url_for('update_feedback', feedback_id=row[0]) }}"><button>Përditëso</button></a></td>
                    <td>
                        <a href="{{ url_for('delete_feedback', feedback_id=row[0]) }}">
                            <button onclick="return confirm('A jeni i sigurt se dëshironi të fshini mesazhin?')">Fshij</button>
                        </a>
                    </td>                
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% include 'footer.html' %}
</body>

</html>
