<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>User Profile</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container" id="profile">
        <h2>Update Profile</h2>
        <form class="update">
            <div class="profile">
                <p><strong>Username:</strong> {{ user_data[1] }}</p> 
            </div>
        </form>
        <form action="{{ url_for('update_email') }}" method="POST" class="update">
            <div class="profile">
                <p><strong>Email:</strong> {{ user_data[2] }}</p>
                <input type="email" name="new_email" id="new_email" placeholder="Enter new email">
                <button type="submit">Update email</button>
            </div>
        </form>
        <form action="{{ url_for('update_level') }}" method="POST" class="update">
            <div class="profile">
                <p><strong>Security Level:</strong> {{ user_data[4] }}</p>
                <select id="new_level" name="new_level">
                    <option value="LOW">LOW</option>
                    <option value="MEDIUM">MEDIUM</option>
                    <option value="HIGH">HIGH</option>
                </select>
                <button type="submit">Update Security Level</button>
            </div>
        </form>
        <form action="{{ url_for('update_password') }}" method="POST" class="update">
            <div class="profile">
                <p><strong>Update Password:</strong></p>
                <input type="password" name="new_password" id="new_password" placeholder="Enter new password">
                <button type="submit" onclick="return confirm('Are you sure you want to update your password?')">Update password</button>
            </div>
        </form>
        <form action="{{ url_for('delete_account') }}" method="POST" class="update">
            <div class="profile">
                <button type="submit" onclick="return confirm('Are you sure you want to delete your account?')">Delete Account</button>
            </div>
        </form>
    </div>

</body>
</html>