<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Profili i Përdoruesit</title>
</head>
<body>
    {% include 'header.html' %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="container" id="profile">
        <h2>Përditëso Profilin</h2>
        <form class="update">
            <div class="profile-section">
                <p><strong>Emri i përdoruesit:</strong> {{ user_data[0] }}</p> 
            </div>
        </form>
        <form action="{{ url_for('update_email') }}" method="POST" class="update">
            <div class="profile">
                <p><strong>Email:</strong> {{ user_data[1] }}</p>
                <input type="email" name="new_email" id="new_email" placeholder="Vendosni email-in e ri">
                <button type="submit" onclick="return confirm('A jeni i sigurt se dëshironi të përditësoni email-in?')">Përditëso email-in</button>
            </div>
        </form>
        <form action="{{ url_for('update_level') }}" method="POST" class="update">
            <div class="profile">
                <p><strong>Niveli i Sigurisë:</strong>  {{ user_data[2] }}</p>
                    <select id="new_level" name="new_level">
                        <option value="LOW" {% if user_data[2] == 'LOW' %}selected{% endif %}>LOW</option>
                        <option value="MEDIUM" {% if user_data[2] == 'MEDIUM' %}selected{% endif %}>MEDIUM</option>
                        <option value="HIGH" {% if user_data[2] == 'HIGH' %}selected{% endif %}>HIGH</option>
                    </select>                
                <button type="submit" onclick="return confirm('A jeni i sigurt se dëshironi të përditësoni nivelin e sigurisë?')">Përditëso Nivelin e Sigurisë</button>
            </div>
        </form>
        <form action="{{ url_for('update_password') }}" method="POST" class="update">
            <div class="profile">
                <p><strong>Përditëso Fjalëkalimin</strong></p>
                <input type="password" name="new_password" id="new_password" placeholder="Vendosni fjalëkalimin e ri">
                <button type="submit" onclick="return confirm('A jeni i sigurt se dëshironi të përditësoni fjalëkalimin?')">Përditëso fjalëkalimin</button>
            </div>
        </form>
        <form action="{{ url_for('delete_account') }}" method="POST" class="update">
            <div class="profile-delete">
                <button type="submit" onclick="return confirm('A jeni i sigurt se dëshironi të fshini llogarinë?')">Fshij Llogarinë</button>
            </div>
        </form>
    </div>
    {% include 'footer.html' %}
</body>
</html>
