<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    {% include 'header.html' %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <main>
        <div class="container">
            <h1>Register</h1>
            <form method="POST" action="/create" class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="confirm password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="password" required>
                
                <label for="security_level">Security Level:</label>
                <select id="security_level" name="security_level">
                    <option value="LOW">LOW</option>
                    <option value="MEDIUM">MEDIUM</option>
                    <option value="HIGH">HIGH</option>
                </select>

                <input type="submit" value="Register">
    
                <a href="/login">Already have an account? Log In here</a>
            </form>
        </div>
    </main>
    {% include 'footer.html' %}
    <script src="static/validationRegister.js"></script>
</body>
</html>