<!DOCTYPE html>
<html lang="sq">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Përdoruesit</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="dropdown1">
        <h1 styles="color: brown; text-align: center">Lista e Përdoruesve</h1>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Emri i Përdoruesit</th>
                    <th>Email</th>
                    <th>Niveli i Sigurisë</th>
                    <!-- <th>Përditëso</th>
                    <th>Fshi</th> -->
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[4] }}</td>
                    <!-- <td><button>Përditëso</button></td> -->
                    <!-- <td><button action="">Fshi</button></td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {% include 'footer.html' %}
</body>
</html>